body {
  text-align: center;
  margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
  background: rgb(50,0,54);
background: linear-gradient(90deg, rgb(241, 70, 110) 0%, rgb(233, 124, 131) 0%, rgb(223, 192, 235) 97%);

  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    font-family: Helvetica, sans-serif;
  }
  button{
    background-color: #ffeef4;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }